:root{
    --black: #181818;
    --blackT: #181818da;
    --lightBlack: #303030;
    --white: #d5d5d5;
    --lightPurple: #8863d6;
    --darkPurpleT: #4f347ddc;
    --darkPurple: #5e3e94;
}

*{
    font-family: 'Andale Mono', monospace;
    margin: 0; padding: 0;
    box-sizing: border-box;
    /* outline: none; */
    /* border: none; */
    text-decoration: none;
    transition: .2s linear;
}
html{
    scroll-padding-top: 40px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
}

/* Header section*/

.header{
    top: 0; right: 0; left: 0;
    background-color: var(--black);
    display: flex; /* Set the nav element as a flex container */
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 5%;
    z-index: 999;
    font-size: 20px;
}
.header .logoContent{
    color: var(--lightPurple);
    font-size: 25px;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
.navbar ul li a{
    color: var(--white);
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--lightPurple);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.header .icon i{
    cursor: pointer;
    font-size: 20px;
}
.header .icon{
    display: none;
}

/* Section */

section{
    padding: 40px 5% 20px;
}

/* Home section */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/header-background.jpg);
    background-size: cover;
    background-position: center center;
}
.homeContent{
    text-align: center;
    padding: 20px 5%;
}
.homeContent h1{
    font-size: 80px;
}
.homeContent p{
    margin-top: 20px;
    font-size: 35px;
}

/* Heading */

.heading{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: var(--lightPurple);
}

/* About section */

.aboutContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.aboutContent .aboutCol1{
    flex-basis: 25%; /* Set the initial length of a flex item */
}
.aboutContent .aboutCol1 img{
    width: 100%;
    border-radius: 15px;
}
.aboutContent .aboutCol2{
    flex-basis: 70%;
    text-align: justify;
}
.aboutContent .aboutCol2 .textContent{
    padding: 0 3%;
}

/* Expertise section*/

.experList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}
.experList .exper{
    background: var(--lightBlack);
    padding: 40px;
    border-radius: 10px;
    /* transition: background-color 0.5s, transform 0.5s; */
}
.experList .exper i{
    font-size: 35px;
    margin-bottom: 25px;
}
.experList .exper h2{
    margin-bottom: 15px;
}
.experList .exper p{
    text-align: justify;
}
/*.expertise-list div a{
    margin-top: 20px;
    color:#d0d0d0;
    display: inline-block;*/  /* With inline-block, the top and bottom margins/paddings are respected, but with inline
                            (<a> is an inline element) they are not.*/
/*}*/
/* .expertise-list div:hover{
    background-color: #5e3e94;
    transform: translateY(-10px);
} */

/* Projects section */

.workList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%; /* Percent of the image */
    display: block; /* Inside of the work element the img will displayed as a block */
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background-color: var(--darkPurpleT);
    position: absolute; /* Absolute to .work element */
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    text-align: center;
    transition: height 0.5s;
}
.layer h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.layer a{
    margin-top: 20px;
    color: var(--darkPurple);
    line-height: 50px;
    background-color:#d0d0d0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #5e3e94;
    padding: 14px 50px;
    border-radius: 6px;
    color: #d0d0d0;
    font-weight: 700;
    text-decoration: none;
}
.btn:hover{
    background:#5e3e94;
} */

/* Footer section */

.footer{
    background: url(images/footer-background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
}
.contactContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 3% 20px;
}
.contactContent h2{
    font-size: 35px;
    color: var(--lightPurple);
    margin: 20px 0 10px;
}
.info{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info i{
    color:var(--white);
    font-size: 25px;
    margin-bottom: 10px;
}
.share{
    padding: 20px 3%;
    text-align: center;
}
.share a{
    height: 50px; width: 50px;
    font-size: 40px;
    color: var(--lightPurple);
    transition: transform 0.5s;
    display: inline-block;
}
.share a:hover{
    color:var(--white);
    transform: translateY(-5px);
}
.credit{
    font-size: 15px;
    padding: 10px 3% 5px;
    text-align: center;
}

/* Css for small screens */

@media only screen and (max-width: 900px){
    body{
        font-size: 15px;
    }

    /* Header section */

    .header{
        font-size: 17px;
    }
    .header .logoContent{
        font-size: 20px;
    }

    /* Heading */

    .heading{
        font-size: 30px;
        margin-bottom: 25px;
    }

    /* Expertise */

    .experList .exper i{
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px){
    /* Header section */

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 140px;
        height: 100vh;
        background-color: var(--blackT);
        padding: 10px;
        transition: right 0.5s;
    }
    .header .navbar.active{
        right: 0;
    }
    .navbar ul li{
        display: block;
        margin: 15px;
    }
    .header .icon{
        display: inline-block;
    }

    /* Home section */

    .home{
        background: url(images/phone-header-background.jpg);
        background-position: center center;
    }
    .homeContent h1{
        font-size: 60px;
    }
    .homeContent p{
        font-size: 25px;
    }
    
    /* Heading */

    .heading{
        font-size: 25px;
        margin-bottom: 20px;
    }

    /* Section */

    section{
        padding: 30px 5% 15px;
    }

    /* About */

    .aboutContent{
        flex-direction: column;
    }
    .aboutContent .aboutCol1{
        margin-bottom: 30px;
    }
}

/* Mobile */

@media only screen and (max-width: 480px){
    /* Header section */

    .header{
        font-size: 15px;
    }
    .navbar{
        width: 120px;
    }
    .navbar ul li{
        margin: 10px;
    }
    
    /* Home section */

    .homeContent h1{
        font-size: 45px;
    }
    .homeContent p{
        font-size: 18px;
    }

    /* About section */

    .aboutContent .aboutCol1{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .aboutContent .aboutCol2{
        flex-basis: 100%;
    }

    /* Expertise */

    .experList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .experList .exper{
        padding: 30px;
    }
    .experList .exper i{
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Projects */

    .workList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .layer h2{
        font-size: 20px;
    }

    /* Contact */
    
    .credit{
        font-size: 10px;
    }
}

@media only screen and (max-width: 350px){
    body{
        font-size: 13px;
    }

    /* Header section */

    .header{
        font-size: 13px;
    }
    .navbar{
        width: 100px;
    }
    .navbar ul li{
        margin: 8px;
    }

    /* Home section */

    .homeContent h1{
        font-size: 40px;
    }
    .homeContent p{
        font-size: 15px;
    }

    /* Heading */

    .heading{
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Contact */

    .contactContent h2{
        font-size: 30px;
    }
    .info i{
        font-size: 20px;
    }
    .share a{
        height: 40px; width: 40px;
        font-size: 30px;
    }
    .credit{
        font-size: 8px;
        padding: 5px 3% 5px;
    }
}